.card {
    border: 1px solid darkgray;
    border-radius: 4px;
    /* max-width: 1200px; */
    margin-bottom: 10px;
    background-color: var(--result-card-color);
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-body {
    display: flex;
    flex-direction: row;
    max-height: 120px;
}

.card h5, h6 {
    margin: 2px;
}

.rows {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px 8px;
    /* max-width: 100%; */
    flex-grow: 4;
}

.image-box {
    flex: 1 0 0%;
    text-align: right;
    padding: 4px 4px;
    max-height: 100%;
    flex-grow: 2;
}

.image-box img {
    vertical-align: top;
    object-fit: scale-down;
    max-width: 100%;
    max-height: 100%;
}

.row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-title {
    display: flex;
    flex-direction: row;
}

.card-title a {
    padding-right: 4px;
    text-decoration-color: var(--link-color);
}

.card-title-text {
  color: var(--link-color) !important;
}

/* selects strokes in svg */
#Shape {
  fill: var(--text-color);
}

.row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}