.results-area {
    margin: 0% 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
}

.results-area p, .results-area > div {
  margin: 0 auto;
}

.results-area p {
  color: var(--text-color);
}

.results-container {
  margin: 0 !important;
}
