.search-area {
  margin: 0% 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.keyword-search {
  flex: 2;
}

.location-select {
  border-radius: 4px 0 0 0;
  flex: 1;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  background-color: var(--input-bg-color);
  color: var(--text-color);
  border: var(--input-border-style);
}

.location-select > option {
  font-size: 16px;
}

.form-row-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-row-1 > button {
  border-radius: 0 4px 0 0;
  appearance: none;
  border: var(--input-border-style);
  min-width: 70px;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: lightblue;
}

.form-row-1 > button:hover {
  background-color: powderblue;
}

.form-row-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-row-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advanced-search-help-wrapper {
  display: grid;
  grid-template-columns: 1fr repeat(1, auto) 1fr;
  justify-items: center;
  width: 100%;
}

.help {
  margin-left: auto;
  text-decoration: underline;
  color: var(--link-color);
  cursor: pointer;
}

.advanced-search-toggle {
  grid-column-start: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 4px;
}

#toggle-label {
  padding: 2px 8px;
}

.switch-box {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 23px;
}

.switch-box input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 23px;
}

.switch:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 3px;
  bottom: 3px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

input:checked + .switch {
  background-color: lightblue;
}

input:focus + .switch {
  box-shadow: 0 0 1px lightblue;
}

input:checked + .switch:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

.input-restaurant {
  flex: 1;
  min-width: 50px;
  height: 100%
}

.likes .react-tags {
  border-radius: 0 0 0 4px;
}

.dislikes .react-tags {
  border-radius: 0 0 4px 0;
}
