.search-area {
  margin: 0% 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-row-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.keyword-search {
  flex: 2;
}

.location-select {
  border-radius: 4px;
  flex: 1;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
}

.form-row-1 > button {
  border-radius: 4px;
  appearance: none;
  border: none;
  min-width: 70px;
}

.form-row-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input-restaurant {
  flex: 1;
  min-width: 50px;
  height: 100%
}

.react-tags {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 4px 8px 8px 8px;
  border: 1px solid #D1D1D1;
  border-radius: 4px;

  /* clicking anywhere will focus the input */
  cursor: text;
}

.react-tags * {
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.react-tags.is-focused {
  border-color: #B1B1B1;
}

.react-tags__selected {
  display: inline-flex;
  margin-top: 4px;
}

.react-tags__selected-tag {
  display: inline-block;
  box-sizing: border-box;
  margin-right: 4px;
  padding: 6px 8px;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  background: #F1F1F1;
}

.react-tags__selected-tag:after {
  content: '\2715';
  color: #AAA;
  margin-left: 8px;
}

.react-tags__selected-tag:hover,
.react-tags__selected-tag:focus {
  border-color: #B1B1B1;
}

.react-tags__search {
  flex-grow: 1;
  display: flex;
  align-items: center;
  margin-top: 4px;
  padding: 6px 0px;
  /* prevent autoresize overflowing the container */
  max-width: 100%;
}


.react-tags__search input {
  /* prevent autoresize overflowing the container */
  max-width: 100%;
  width: 100%;
  /* remove styles and layout from this element */
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

.react-tags__search input::-ms-clear {
  display: none;
}

.react-tags__suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

.react-tags__suggestions ul {
  margin: 4px -1px;
  padding: 0;
  list-style: none;
  background: white;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.react-tags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 6px 8px;
}

.react-tags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}

.react-tags__suggestions li:hover {
  cursor: pointer;
  background: #eee;
}

.react-tags__suggestions li.is-active {
  background: #b7cfe0;
}
