nav {
  background-color: lightblue;
  height: 8vh;
}

nav ul {
  box-shadow: 0 0 10px black;
  height: 100%;
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav li {
  display: inline;
  margin: 0 20px;
}

nav a {
  color: black;
  text-decoration: none;
}

nav ul > li.prot1 {
  margin-left: auto;
}

.title {
  margin-top: 15vh;
  text-align: center;
}
