body {
  padding: 12px;
}

.tag-input {
  background: white;
  border: 1px solid darkgray;
  border-radius: 2px;
  display: flex;
  flex-wrap: wrap;
  padding: 8px 8px;
}

.tag-input * {
  font-size: 24px;
}

.tag-list {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
}

.tag-list li {
  align-items: center;
  background: #85A3BF;
  border-radius: 2px;
  color: white;
  display: flex;
  font-weight: 300;
  list-style: none;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px 10px;
}

.tag-input input {
  border: none;
  width: 100%;
}

.tag-input::placeholder {
  color: gray;
}

.tag-list li.tag-input-field {
  background: none;
  flex-grow: 1;
  padding: 0;
}
