nav {
  background-color: lightblue;
  height: 8vh;
}

nav ul {
  box-shadow: 0 0 10px black;
  height: 100%;
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav li {
  display: inline;
  margin: 0 20px;
}

nav a {
  display: inline-block;
  padding: 2vh 0; /* increase clickable region */
  color: black;
  text-decoration: none;
}

nav a:hover {
  color: white;
}

nav ul > li.prot1 {
  margin-left: auto;
}

.title {
  margin-top: 15vh;
  text-align: center;
}

.about-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
